<div class="m-8">
  <mat-card>
    <mat-card-title>
      <app-page-title title="User information" />
    </mat-card-title>
    <mat-card-content>
      @if (user$ | async; as user) {
        <div class="flex flex-col justify-start items-center">
          <p data-testid="user-name">Name: {{ user.firstName }} {{ user.lastName | uppercase }}</p>
          <p data-testid="user-email">Email: {{ user.email }}</p>
          @if (user.admin) {
            <p data-testid="admin-message" class="my-4">You are admin</p>
          } @else {
            <div class="my-4 flex flex-col justify-center items-center">
              <p>Delete my account:</p>
              <app-icon-button data-testid="delete-account-button" icon="delete" label="Delete" color="warn" (buttonClick)="delete()" />
            </div>
          }
          <app-record-dates [createdAt]="user.createdAt" [updatedAt]="user.updatedAt" />
        </div>
      }
    </mat-card-content>
  </mat-card>
</div>
