<div class="m-8">
  <mat-card>
    <mat-card-title>
      <app-page-title title="User information" />
    </mat-card-title>
    <mat-card-content>
      @if (user$ | async; as user) {
        <div fxLayout="column" fxLayoutAlign="start center">
          <p>Name: {{ user.firstName }} {{ user.lastName | uppercase }}</p>
          <p>Email: {{ user.email }}</p>
          @if (user.admin) {
            <p class="my-4">You are admin</p>
          } @else {
            <div fxLayout="column" class="my-4" fxLayoutAlign="center center">
              <p>Delete my account:</p>
              <app-icon-button icon="delete" label="Delete" color="warn" (buttonClick)="delete()" />
            </div>
          }
          <app-record-dates [createdAt]="user.createdAt" [updatedAt]="user.updatedAt" />
        </div>
      }
    </mat-card-content>
  </mat-card>
</div>
