<div>
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <span>Yoga app</span>
    <div class="space-x-2.5">
      @if ($isLogged() | async) {
        <app-nav-link link="sessions">Sessions</app-nav-link>
        <app-nav-link link="me">Account</app-nav-link>
        <app-nav-link (linkClick)="logout()">Logout</app-nav-link>
      } @else {
        <app-nav-link link="/login">Login</app-nav-link>
        <app-nav-link link="/register">Register</app-nav-link>
      }
    </div>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
